.header{
    position: absolute;
    top: 0;
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;    
    background-color: transparent;
    backdrop-filter: blur(10px);
    padding: 0px 20px;
    z-index: 4;
    gap: 100px;
    h1{
        font-family: var(--main-font);
        color: #fff;
    }
    $buttonWidth: 30px;
    $buttonHeight: 26px;
    $buttonColor: darken(#fff, 15%);
    $lineThickness: 4px;
    $transitionSpeed: .25s;
    $transitionEasing: ease-in-out;
    
    .menu-toggle {
        position: relative;
        display: none;
        width: $buttonWidth;
        height: $buttonHeight;
    
        background: transparent;
        border-top: $lineThickness solid;
        border-bottom: $lineThickness solid;
    
        color: $buttonColor;
        font-size: 0;
    
        transition: all $transitionSpeed $transitionEasing;
    
        &:before,
        &:after {
            content: '';
            display: block;
            width: 100%;
            height: $lineThickness;
    
            position: absolute;
            top: 50%;
            left: 50%;
    
            background: currentColor;
    
            transform: translate(-50%, -50%);
            transition: transform $transitionSpeed $transitionEasing;
        }
    }
    
    button:hover {
        color: lighten($buttonColor, 15%);
    }
    
    button.is-active {
        border-color: transparent;
    
        &:before {
            transform: translate(-50%, -50%) rotate(45deg);
        }
    
        &:after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }
    
    button {
        border: none;
        cursor: pointer;
        outline: none;
    }
    .nav-links{
        width: 600px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        a{
            text-decoration: none;
            font-family: var(--main-font);
            font-size: 20px;
            color: #fff;
            
        }
        
    }
    @media screen and (max-width: 780px) {
        .nav-links{
            display: none;
            margin: 0px auto;
        }
        .flex{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
      .menu-toggle{
          display: block;
      }
    }
}
.fixed{
    position: fixed;
    top: 0;
    transition: top 0.5s ease-in-out;
}

.nofixed{
    position: absolute;
    top: 0;
    transition: top 0.5s ease-in-out;
}


.activeheader{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: flex-start;
    padding-top: 20px;
    transition: 1s;
}